.auth-layout-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1612898800042-f6278e97aff9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  background-size: cover;
}
.auth-content {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  width: 500px;
  height: 500px;
}
